Source: nginx
Maintainer: António P. P. Almeida <appa@perusio.net>
Uploaders: António P. P. Almeida <appa@perusio.net>
Section: httpd
Priority: optional
Build-Depends: debhelper (>= 7),
               autotools-dev,
               libgeoip-dev,
               libssl-dev,
               libpcre3-dev,
               zlib1g-dev
Standards-Version: 3.9.6
Vcs-Browser: http://trac.nginx.org/nginx/browser
Vcs-Hg: hg://hg.nginx.org/nginx
Homepage: http://nginx.org

Package: nginx
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends},
         ${shlibs:Depends}
Pre-Depends: multiarch-support
Provides: httpd
Description: small, but very powerful and efficient web server and mail proxy
 Nginx (engine x) is a web server created by Igor Sysoev and kindly provided to
 the open-source community. This server can be used as standalone HTTP server
 and as a reverse proxy server before some Apache or another big server to
 reduce load to backend servers by many concurrent HTTP-sessions.
 .
 It can also act as a POP3/IMAP mail proxy with SSL and TLS SNI support.
 .
 This is a custom version built with upload progress, 
 auth request, delay, ngx_devel_kit, embedded Lua and without WebDAV and
 mail support.
 .
 It includes config examples for several web applications, namely
 Drupal, WordPress, Chive, Piwik, Redmine and SquirrelMail.
