#!/usr/bin/make -f

debian_cflags:=$(shell dpkg-buildflags --get CFLAGS) $(shell dpkg-buildflags --get CPPFLAGS)
debian_ldflags:=$(shell dpkg-buildflags --get LDFLAGS)

MODULESDIR = $(CURDIR)/debian/modules

DEB_BUILD_ARCH ?=$(shell dpkg-architecture -qDEB_BUILD_ARCH)
ifeq ($(DEB_BUILD_ARCH),sparc)
	debian_cflags += -m32 -mcpu=ultrasparc
endif

configure_flags := \
	    --with-cc-opt="$(debian_cflags)" \
	    --with-ld-opt="$(debian_ldflags)" \
	    --conf-path=/etc/nginx/nginx.conf \
            --prefix=/usr/share/nginx \
	    --with-pcre-jit \
            --with-md5-asm \
	    --with-sha1-asm \
	    --error-log-path=/var/log/nginx/error.log \
	    --http-client-body-temp-path=/var/lib/nginx/body \
	    --http-fastcgi-temp-path=/var/lib/nginx/fastcgi \
	    --http-log-path=/var/log/nginx/access.log \
	    --http-proxy-temp-path=/var/lib/nginx/proxy \
	    --http-scgi-temp-path=/var/lib/nginx/scgi \
	    --http-uwsgi-temp-path=/var/lib/nginx/uwsgi \
	    --lock-path=/var/lock/nginx.lock \
	    --pid-path=/var/run/nginx.pid \
	    --with-debug \
            --without-mail_pop3_module \
	    --without-mail_imap_module \
	    --without-mail_smtp_module \
	    --with-http_flv_module \
	    --with-http_geoip_module \
	    --with-http_gzip_static_module \
	    --with-http_realip_module \
	    --with-http_stub_status_module \
	    --with-http_ssl_module \
	    --with-http_sub_module \
	    --with-ipv6 \
            --with-file-aio \
	    --with-http_secure_link_module \
	    --with-http_mp4_module \
            --with-http_image_filter_module \
	    --with-http_v2_module \
	    --with-http_auth_request_module \
            --with-stream \
            --with-stream_ssl_module \
            --with-http_slice_module \
	    --add-module=$(MODULESDIR)/nginx-upload-progress-module \
	    --add-module=$(MODULESDIR)/lua-nginx-module \
	    --add-module=$(MODULESDIR)/ngx_http_delay_module \
	    --add-module=$(MODULESDIR)/ngx_devel_kit \
            $(CONFIGURE_OPTS)

%:
	dh $@

override_dh_auto_configure: config.arch
override_dh_installinit:
	dh_installinit --no-restart-on-upgrade --no-start --name=nginx
override_dh_systemd_enable:
	dh_systemd_enable --name=nginx
config.arch:
	dh_testdir
	./configure $(configure_flags)
